---
- game: "NAME OF THE GAME"
  source: "WHERE THE ORIGINAL GAME SAVES ARE LOCATED"
  backup_location: "WHERE THE BACKUP SAVE FILES WILL BE LOCATED"
  filename: "OPTIONAL: PREFIX FOR THE BACKUP FILES"
